@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/Default_Layout.cshtml";
}

<!-- Page-content area start  -->
<div class="Page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="ap-Left wow fadeInLeft" data-wow-duration="400ms" data-wow-delay="300ms">
                    <div class="banner-block banner-block-2">
                        <div class="sppb-addon-content">
                            <a href="/Home/AboutUs" ><<img src="~/img/resimler/images.jpg" style="width:600px; height:300px;" class="img-responsive" />></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="ap-right wow fadeInRight" data-wow-duration="400ms" data-wow-delay="300ms">
                    <div class="about-us-info">
                        <h2 class="ainfo-addon-title">BİZİMLE İLGİLİ</h2>
                        <div class="sppb-addon-content">
                            <p>2023 yılında kurduğumuz marka şirketi, toptan üretim ile başladığı girişimcilik serüvenini mağazacılık ve e-ticaret ile güçlendirmeyi başarmış,
                                şubeleri ile de bu serüveni en ileri boyuta taşımıştır. Sunduğumuz kullanıcı öncelikli stratejilerimiz ve ayrıcalıklı müşteri portföyü ile değerini paha biçilemez şekilde ikiye katlayarak,
                                marka değerimizi hassasiyetle zirveye taşımayı başardık. Dünya standartlarını göz önünde bulundurarak çözüm ve güven içerikli ilkemiz ile yola çıktığımız bu serüvende; otorite rayından çıkmayarak,
                            istikrarlı şekilde sayısız müşteriye en iyi marka sahipliğini yapmış durumdayız.</p>
                            
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="skrill-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="sppb-section-title">
                    <h2 class="sppb-title-heading">HAKKIMIZDA</h2>
                    <p class="sppb-title-subheading">Kuruluşundan günümüze süregelen profesyonellik,
                        empati odaklı, dürüstlük ve gelişime açık bakış açımız ile istikrarlı büyüme sergileyerek,
                        e-ticaret dünyasında saygın bir konuma yükselmeye hak kazandık.
                    </p>
                </div>
            </div>
           
        </div>
    </div>
</div>

<!-- Page-content area End  -->

