@model Category 

@{
    ViewData["Title"] = "CategoryEdit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row" style="margin-top:50px;">

    <div class="col-md-2"></div>

    <div class="col-md-8">

        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> KATEGORİ DÜZELTME FORMU
                </div>
                
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" action="/Admin/CategoryEdit" method="post">

                    <div class="form-body">

                        <div class="form-group">
                            <label class="col-md-3 control-label">Kategori Seçiniz</label>
                            <div class="col-md-9">
                                @Html.DropDownList("ParentID",(IEnumerable<SelectListItem>)ViewData ["categoryList"], "Seçiniz" , new {@class = "form-control input-lg "});
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" asp-for="CategoryName"></label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-lg" placeholder="Kategori Adı" asp-for="CategoryName" required maxlength="50">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Aktif Mi?</label>
                            <div class="col-md-9">
                                <input asp-for="Active" class="form-control input-lg" />
                            </div>
                        </div>

                        <input type="hidden" asp-for="CategoryID"/>

                    </div>
                    <div class="form-actions right1">
                        <a asp-action="CategoryIndex" class="btn btn-primary">KATEGORİ LİSTESİ</a>
                        <input type="submit" class="btn green" value="GÜNCELLE" />
                    </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->

    </div>
</div>


