@model Supplier
@{
    ViewData["Title"] = "SupplierDelete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row" style="margin-top:50px;">

    <div class="col-md-2"></div>

    <div class="col-md-8">


        <br />
        <br />
        <!-- BEGIN CONDENSED TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-picture"></i>MARKA SİLME FORMU
                </div>
          
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayFor(model => model.SupplierID)
                                </th>
                                <th>
                                    @Html.DisplayFor(model => model.BrandName)
                                </th>
                                <th>
                                    @Html.DisplayFor(model => model.Active)
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <form class="form-horizontal" role="form" asp-action="SupplierDelete" method="post">

                        <input type="hidden" asp-for="SupplierID" />
                        <input type="submit" value="SİL" class="btn btn-danger" onclick="return confirm('Silmek istediğinizden emin misiniz?')" />

                        <a asp-action="SupplierIndex" class="btn btn-primary">MARKA LİSTESİ</a>
                    </form>

                </div>
            </div>
        </div>
        <!-- END CONDENSED TABLE PORTLET-->
    </div>
</div>

