@model IEnumerable<Supplier>

<!-- Brand area start -->
<div class="brand-area">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="all-p-title">
					<h3>MARKALAR</h3>
				</div>
			</div>
			<div class="clear"></div>
			<div class="all-brand singal-p">

				@foreach (var item in Model)
				{
					<div class="singal_brand">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<a href="/Home/SupplierPage/@item.SupplierID"> <img src="~/img/resimler/@item.PhotoPath" alt="" style="height:100px; width:200px;" /> </a>
						</div>
					</div>
				}

				
				
			</div>
		</div>
	</div>
</div>
<!-- footer top area start -->

<section id="sp-bottom-2">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 sp-bottomcontact">
				<div class="sp-column ">
					<div class="sp-module ">
						<h3 class="sp-module-title"><span>İLETİŞİM</span></h3>
						<div class="sp-module-content">
							<div class="custom">
								<div class="t-bottom-content">
									<p class="adress">
										<em class="fa fa-map-marker"></em>
										<span class="ft-content">
											@await Component.InvokeAsync("Adress")
										</span>
									</p>
									<p class="phone">
										<em class="fa fa-phone"></em>
										<span class="ft-content">
											@await Component.InvokeAsync("Telephone")
										</span>
									</p>
									<p class="email">
										<em class="fa fa-envelope"></em>
										<span class="ft-content">
											@await Component.InvokeAsync("Email")
										</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 sp-bottomcontact">
				<div class="sp-column ">
					<div class="sp-module ">
						<h3 class="sp-module-title"><span>Hakkımızda</span></h3>
						<div class="sp-module-content">
							<div class="custom">
								<div class="footer-static-content">
									<p>
										Kuruluşundan günümüze süregelen profesyonellik, empati odaklı,
										dürüstlük ve gelişime açık bakış açımız ile istikrarlı büyüme sergileyerek,
										e-ticaret dünyasında saygın bir konuma yükselmeye hak kazandık.
									</p>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>
<footer id="sp-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6" >
				<p>ALHERSEY &copy; 2023 <a href="/Home/Index" target="_blank">AlHersey</a> Tüm hakları saklıdır.</p>
			</div>
			<div class="col-sm-6 col-md-6">
				<div class="payment-logo">
					<img src="~/img/payment.png" alt="" />
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- footer top area end -->